/*.navbar{*/
    /*background: rgba(250,255,2,1) !important;*/
    /*color: floralwhite !important;*/
/*}*/

body { padding-top: 70px; }
.thumbnail img{
   max-height: 150px;
    min-width: 150px;
}

.thumbnail .description{
    color: #7f7f7f;
}

.price{
    font-weight: bold;
    font-size: 16px;
}
